.div-valoraciones {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1em 0 1em 0;
}

.cabecera-valoracion {
    display: flex;
}
.cuerpo-valoracion {
    display: flex;
}

.nombre-usuario-valoracion {
    font-weight: bold;
}

.p-comentario {
    text-align: justify;
}