.prueba {
    display: flex;
    flex-direction: column;
    align-items: start;
}
    .titulo-micuenta {
        padding: 3vw 0;
        margin: 0 10vw;
        color: #2f4a4e;
    }
    .nombre-usuario-micuenta {
        font-size: 1.2em;
        margin: 0 10vw;
        padding-bottom: 3vw;
    }

.titulo-h2 {
    padding: 2vw;
    color: #2f4a4e;
}

.contenedor_datos_usuario {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 10vw 5vw 10vw;
    padding: 4vw;
    border: 1px solid rgb(219, 216, 216);
    border-radius: 5px;
}

.datos_usuario {
    /* display: flex;
    flex-direction: column; */
    border: 1px solid rgb(219, 216, 216);
    border-radius: 5px;
    width: 45%;
}

.encabezado_datos {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(219, 216, 216);
}

.cuerpo_datos_usuario {
    /* display: flex;
    flex-direction: column;
    align-items: start; */
    /* padding: 3vw 3vw; */
}
    .titulos {
        color: #4a6d72;
        font-weight: bold;
        /* margin-bottom: 0.7vw; */
    }
    .datos {
        margin-bottom: 1.2vw;
        font-size: 0.8em;
    }

.cuerpo_datos_recetas {
    padding: 3vw 3vw;
}

.enlace_mod {
    font-size: 0.7em;
    align-self: flex-end;
    padding: 2.5vw;
    color: #3B6064;
}

.enlace_mod:hover {
    text-decoration: underline;
    cursor: pointer;
}