.titulo-form {
    padding-bottom: 2em;
}

.form-nueva-receta {
    border: 1px solid rgb(219, 216, 216);
    border-radius: 5px;
    margin: auto;
    width: 70vw;
}

.contenedor-form-nueva-receta {
    display: flex;
    justify-content: space-around;

    padding: 2em;
}


.columna{
    border: 1px solid red;

    display: flex;
    flex-direction: column;
    width: 30vw;
}

.label-nueva-receta {
    /* padding: 1vw; */
    margin-top: 10px;
}

.form-submit {
    width: 30%;
    margin: auto;
    padding: 10px 20px;
}

.input-nueva-receta {
    width: 500px;
    margin: 10px 0px 15px 0px;
}

.prueba {
    margin: auto;
}

.nuevo-ingrediente {
    
}