.contenedor-nueva-receta {
    display: flex;
    flex-direction: column;
    margin-bottom: 4vw;
}

.titulo-nueva-receta{
    margin: auto;
    padding: 4vw 0 3vw 0;
    color: #3B6064;
}

.form-nueva-receta {
    border: 1px solid rgb(219, 216, 216);
    border-radius: 5px;
    margin: auto;
    width: 60vw;
}

.contenedor-form-nueva-receta {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 2em;
}

.columna{
    /* border: 1px solid rgb(0, 255, 34); */
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vw;
    /* border: 1px solid rgb(219, 216, 216); */
}

.label-nueva-receta {
    margin: 1vw 0 0.5vw 0.5vw;
    padding: 0.5vw 0;
}

.label-pasos {
    font-size: 0.8em;
    color: #FF725C;
    font-weight: bold;
    margin: 0 .5vw 0 1vw;
}

.div-boton-nueva-receta {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.boton-nueva-receta {
    width: 37%;
    padding: .8em 0;
    border: none;
    border-radius: .2em;
    font-size: .9em;
    background: #3B6064;
    color: #fff;
}
    .boton-nueva-receta:hover {
        background: #2f4a4e;
        cursor: pointer;
    }

.input-nueva-receta {
    width: 70%;
    min-width: 80px;
    margin-left: 0.5vw;
    padding: 0.15vw;
    border: 1px solid #ccc;
    border-radius: 2px;
    transition: border-color 0.3s ease;
}
    .input-nueva-receta:focus {
        outline: none;
        border-color: #3B6064;
    }

.input-ingredientes {
    width: 50%;
    margin-left: 0.5vw;
    margin-bottom: 1vh;
    padding: 0.15vw;
    border: 1px solid #ccc;
    border-radius: 2px;
    transition: border-color 0.3s ease;
}
    .input-ingredientes:focus {
        outline: none;
        border-color: #3B6064;
    }

.input-elaboracion {
    width: 70%;
    margin-left: 0.5vw;
    margin-bottom: 1vh;
    padding: 0.15vw;
    border: 1px solid #ccc;
    border-radius: 2px;
    transition: border-color 0.3s ease;
}
    .input-elaboracion:focus {
        outline: none;
        border-color: #3B6064;
    }

.input_imagen {
    margin: 1vw;
}

.div-añadir {
    display: flex;
    align-items: center;
}

.icono-añadir {
    width: 25px;
    height: auto;
    margin-left: 10px;
}

.imagen_modificar_receta {
    width: 100%;
}

@media (max-width: 1400px) {  /* Pantallas medianas */
    .contenedor-nueva-receta {
        font-size: .9em;
    }
    .contenedor-form-nueva-receta {
        flex-direction: column;
        align-items: center;
    }
    .columna{
        padding-left: 1vw;
        display: flex;
        flex-direction: column;
        width: 100%;
        /* border-right: 1px solid rgb(219, 216, 216); */
    }
    .boton-nueva-receta {
        min-width: 150px;
        margin-top: 5vw;
    }
}

@media (max-width: 500px) {  /* Pantallas pequeñas */
    .contenedor-nueva-receta {
        font-size: .7em;
    }
    .form-nueva-receta {
        width: 85vw;
    }
    .input-nueva-receta {
        width: 100%;
    }
    .boton-nueva-receta {
        min-width: 100px;
    }
}
