.contenedor-paises {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
}
    .contenedor-paises > h2 {
        margin: auto;
        padding: 2em 0 1em 0;
    }

.contenedor-continentes {
    width: 90vw;
    /* min-width: 200px; */
    height: auto;
    margin: auto;
    padding: 1em 0 5em 0;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 0.9em;
    position: relative;
    flex-wrap: wrap;
}

.continente {
    width: 15vw;
    /* height: auto; */
    padding: 0.5em;
    border: 1px solid #c9dfcf;
    border-radius: 50%;
    cursor: pointer;
    background-color: #f9f9f9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.5s, border-radius 0.3s ease;
    position: relative;
}

.imagen-continente {
    width: 80%;
    padding: 1em;
    height: auto;
    object-fit: fill;
}
.nombre-continente {
    display: block;
    margin-top: 1em;
    font-size: 0.8em;
    font-weight: bold;
}

.continente:hover,
.continente-activo {
    background-color: #deece2;
}
.continente-activo {
    border-radius: 0;
}
.continente-activo > .imagen-continente,
.continente-activo > .nombre-continente {
    filter: blur(3px);
}
/* .continente-activo > .nombre-continente {
    filter: blur(3px);
} */

#filtros_paises {
    width: 100%;
    position: absolute;
    /* top: 15vw; */
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #fff; */
    /* border: 1px solid greenyellow; */
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    padding: 0.15em;
    z-index: 10;
    /* margin-top: 7vh; */
    animation: fadeIn 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#boton-pais {
    width: 90%;
    border: none;
    z-index: 1000;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 1400px) { /*pantallas MEDIANAS */
    .contenedor-continentes {
        width: 100vw;
    }
    .boton {
        /* width: 75px;
        display: flex;
        justify-content: center; */
    }

    #filtros_paises {
        width: 100px;
    }
}

@media (max-width: 840px) { /* pantallas PEQUEÑAS */
    .contenedor-continentes {
        width: 100vw;
    }
    .continente {
        width: 25vw;
    }
    .contenedor-paises > h2 {
        padding-top: 2em;
        font-size: 1em;
    }
    .imagen-continente {
        width: 80%;
    }

    .boton {
        width: 65px;
    }
    #filtros_paises {
        width: 80px;
    }
    /* Para hacer responsive los paises hay que tocar el componente Boton */
}