.contenedor-receta {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    /* align-items: center;
    justify-content: center; */
    background-color: #ffffff;
    /* border: 1px solid purple; */
    width: 400px;
    height: 400px;
    padding-bottom: 2vw;
    gap: 5px;
}
    .img-receta {
        width: 100%;
        height: 100%;
        transition: opacity 0.8s ease;
    }
    .img-receta:hover {
        opacity: 0.7;
    }
.nombre-receta {
    transition: color 0.3s ease;
}
.nombre-receta:hover {
    color: #43767c;
}
.me-gusta {
    position: absolute;
    width: 40px;
    top: 10px;
    right: 10px;
    transition: transform 0.5s ease;
    cursor: pointer;
}
.me-gusta:hover {
    transform: scale(1.1);
}

.contenedor-info-receta {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    gap: 5px;
}
    .div-info {
        display: flex;
        align-items: center;
        /* border: 1px solid pink; */
        width: 100%;
        gap: 7px;
    }
    .div-estrellas {
        display: flex;
        justify-content: center;
        gap: 5px;
    }
    .estrella {
        width: 20px;
    }
    .gorrito {
        width: 18px;
        height: auto;
    }
    .info {
        font-size: .8em;
        margin-left: 0;
    }