.contenedor-receta {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    background-color: #ffffff;
    /* border: 1px solid purple; */
    width: 400px;
    height: 400px;
    padding-bottom: 2vw;
    gap: 5px;
}
    .img-receta {
        width: 100%;
        height: 100%;
    }

.contenedor-info-receta {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    gap: 5px;
}
    .div-info {
        display: flex;
        align-items: center;
        /* border: 1px solid pink; */
        width: 100%;
        gap: 7px;
    }
    .div-estrellas {
        display: flex;
        justify-content: center;
        gap: 5px;
    }
    .estrella {
        width: 20px;
    }
    .gorrito {
        width: 18px;
        height: auto;
    }
    .info {
        font-size: .8em;
        margin-left: 0;
    }
