.div-botones-dificultad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-recetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
}

.div-recetas-filtros {
    display: flex;
    width: 87vw;
    margin: auto;
}
#filtros_recetas {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-width: 280px;
    max-width: 280px;
    background-color: #f1f0ec;
}

#filtros_recetas > h4 {
    background-color: #3B6064;
    padding: 1em 0 1em 0;
    text-align: center;
    width: 100%;
}

.div-botones-filtros {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.div-paginacion {
    margin: auto;
}

@media (max-width: 1800px) {
    .div-recetas-filtros {
        width: 97vw;
    }
}

@media (max-width: 1615px) {
    .div-recetas-filtros {
        width: 80vw;
    }
}

@media (max-width: 1433px) {
    .div-recetas-filtros {
        width: 95vw;
    }
}

@media (max-width: 850px) {
    .div-recetas-filtros {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        margin: auto;
        gap: 15px;
    }
    .main-recetas .recetas-destacadas {
        width: auto;
    }
    .prueba {
        /* width: 100%; */
    }
    #filtros_recetas {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100vw;
        /* min-width: 280px;
        max-width: 280px; */
        background-color: #f1f0ec;
    }

    .main-recetas {
        padding-top: 1em;
    }
}

/* ESTILOS FILTROS RESPONSIVE
display: flex;
flex-direction: column;
align-items: stretch;
gap: 1em; */

@media (max-width: 770px) {
    .div-botones-filtros .boton {
        width: auto;
    }
}
@media (max-width: 1433px) {
    /* .div-recetas-filtros {
        width: 95vw;
    }
    .div-botones-filtros {
        width: 100%;
    } */
}
