.contenedor-receta {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    background-color: #ffffff;
    /* box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%); */
    width: 400px;
    height: 400px;
    padding-bottom: 2vw;
}

.img-receta {
    width: 100%;
    height: 100%;
}

.contenedor-info-receta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descripcion-receta {
    display: flex;
    justify-content: space-around;
}