main {
    /* display: grid; */
     /* Esto crea dos columnas de igual tamaño */
}
.nombre-recetaUnica {
    /* grid-column: 1 / 3; */
    margin:auto;
    padding: 2vw;
}
.contenedor-recetaUnica {
    /* grid-column: 1 / 3; */
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 2vw;
    border: 1px solid red;
    margin: 5px;
}

.titulo-recetaUnica {
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 1vw;
    border-bottom: 1px solid black;
}
.section-ingredientes {
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    width: 20vw;
}
.ingredientes {
    padding: 1vw 2vw;
}
.section-ingredientes li {
    list-style-type: circle;
    margin-bottom: 0.5vw;
}
.section-ingredientes li::before {
    /*content: "🛍️";  Agrega el emoji antes de cada elemento de la lista */
    /*padding-right: 5px;  Añade un poco de espacio a la derecha del emoji */
}

.section-elaboracion {
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    width: 50vw;
}
    .elaboracion {
        padding: 2vw 2vw;
        text-align: justify;
    }
.section-elaboracion li {
    list-style-type: decimal;
    margin-bottom: 0.7vw;
}
.section-elaboracion li::before {
    /*content: "🍴";  Agrega el emoji antes de cada elemento de la lista */
    /*padding-right: 5px;  Añade un poco de espacio a la derecha del emoji */
}

.div-comentarios {
    display: flex;
    justify-content: center;    
}
    .comentarios {
        border-top: 1px solid rgb(187, 186, 186);
        width: 60%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* align-items: center; */
        margin: 10px;
    }
        .comentarios > h2 {
            padding: 1.3em 0 1.3em 0;
            justify-self: flex-start;
        }


.nuevoComentario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid greenyellow;
    margin: 10px;
}
    .section-nuevoComentario {
        display: flex;
        flex-direction: column;
    }

.div-comentario {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    width: 300px;
    height: 250px;
    overflow: hidden; */
}
p{
    margin: 5px;
    text-align: center;
}

textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    resize: none;
}